<h1 class="mainHeading"> <% if user_signed_in? %> Hello <%= current_user.email[/[^@]+/] %> | <% end %> Need Your Key?</h1>
	<hr class="faded" />

	<% if user_signed_in? %>

		<div class="boxWrapper group">
			<%= link_to new_key_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Add</h3>
					<i class="boxIcon fa fa-5x fa-plus"></i>
						<p class="boxText">Add a new key to your account.</p>
			<% end %>

			<% if current_user.keys.where(:location_id => nil).count > 0 %>
				<%= link_to new_storage_path, class: [:box, :boxLink] do %>
					<h3 class="boxHeading">Store</h3>
						<i class="boxIcon fa fa-5x fa-home"></i>
							<p class="boxText">Store your key.</p>
				<% end %>
			<% end %>

			<% if current_user.keys.where.not(:location_id => nil).count > 0 %>
				<%= link_to new_retrieval_path, class: [:box, :boxLink] do %>
					<h3 class="boxHeading">Retrieve</h3>
						<i class="boxIcon fa fa-5x fa-exchange"></i>
							<p class="boxText">Request a key retreival.</p>
				<% end %>
			<% end %>
		</div>

	<p><% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %></p>

		<% if current_user.keys.count > 0 %>
			<table class="table">
					<tr>
						<th class="tableHeading">Key Name</th>
						<th class="tableHeading">Added</th>
						<th class="tableHeading">Status</th>
						<th class="tableHeading">Delete Key</th>
					</tr>
				<% current_user.keys.each do | key | %>
					<tr>
						<td class="tableValue"><%= key.name %></td>
						<td class="tableValue"><%= key.created_at.strftime("%d %b %Y - %H:%M") %></td>
						<td class="tableValue"><%= key.get_state %></td>
						<td class="tableValue">
							<% if key.get_state == "Retrieved" || key.get_state == "Unstored" || key.get_state == "Unknown" %>
							    <%= link_to key_path(key.id), method: :delete, data: { confirm: "Are you sure you want to delete this key?" } do %>
                    					<i class="tableIcon fa fa-2x fa-trash"></i>
                    			<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		<% end %>

	<% else %>

		<div class="boxWrapper group">
			<%= link_to new_user_session_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Sign Up</h3>
					<i class="boxIcon fa fa-5x fa-pencil-square-o"></i>
						<p class="boxText">Sign up and log in to your account.</p>
			<% end %>

			<%= link_to new_user_session_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Add</h3>
					<i class="boxIcon fa fa-5x fa-plus"></i>
						<p class="boxText">Add as many keys as you need to your account and deliver to our secure location.</p>
			<% end %>

			<%= link_to new_user_session_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Retreive</h3>
					<i class="boxIcon fa fa-5x fa-exchange"></i>
						<p class="boxText">Log in, retrieve any lost key and collect from our safe location.</p>
			<% end %>
		</div>

	<% end %>
