<h1 class="mainHeading"> <% if user_signed_in? %> Hello <%= current_user.email[/[^@]+/] %> | <% end %> Need Your Key?</h1>
	<hr class="faded" />
		<p class="mainText">Fed up of losing your keys and not having access to a spare? We have a solution!</p>
		<p class="mainText">Follow our simple three stage process and never worry about this again.</p>

	<% if user_signed_in? %>

		<div class="boxWrapper group">
			<%= link_to new_key_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Add</h3>
					<i class="boxIcon fa fa-5x fa-plus"></i>
						<p class="boxText">Add a new key to your account.</p>
			<% end %>

			<%= link_to new_storage_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Store</h3>
					<i class="boxIcon fa fa-5x fa-home"></i>
						<p class="boxText">Store your key.</p>
			<% end %>

			<%= link_to new_key_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Retreive</h3>
					<i class="boxIcon fa fa-5x fa-exchange"></i>
						<p class="boxText">Request a key retreival.</p>
			<% end %>
		</div>

			<table class="table">
					<tr>
						<th class="tableHeading">Key Name</th>
						<th class="tableHeading">Added</th>
						<th class="tableHeading">Last Retrieved</th>
					</tr>
				<% current_user.keys.each do | key | %>
					<tr>
						<td class="tableValue"><%= key.name %></td>
						<td class="tableValue"><%= key.created_at.strftime("%d %b %Y - %H:%M") %></td>
							<% if key.created_at == key.updated_at %>
						 		<td class="tableValue">N/A</td>
							<% else %>
								<td class="tableValue"><%= key.updated_at %></td>
							<% end %>
					</tr>
				<% end %>
			</table>

	<% else %>

		<div class="boxWrapper group">
			<%= link_to new_user_session_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Sign Up</h3>
					<i class="boxIcon fa fa-5x fa-pencil-square-o"></i>
						<p class="boxText">Sign up and log in to your account.</p>
			<% end %>

			<%= link_to new_user_session_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Add</h3>
					<i class="boxIcon fa fa-5x fa-plus"></i>
						<p class="boxText">Add as many keys as you need to your account and deliver to our secure location.</p>
			<% end %>

			<%= link_to new_user_session_path, class: [:box, :boxLink] do %>
				<h3 class="boxHeading">Retreive</h3>
					<i class="boxIcon fa fa-5x fa-exchange"></i>
						<p class="boxText">Log in, retrieve any lost key and collect from our safe location.</p>
			<% end %>
		</div>

	<% end %>
