<h1 class="mainHeading">Resend Confirmation Instructions</h1>
	<hr class="faded" />

<div class="formWrapper">
	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

		<div class="field">
	    	<%= f.label :email, class: :label %><br />
	    		<%= f.email_field :email, autofocus: true, class: :input, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
	  	</div>

	  	<div class="actions">
	    	<%= f.button "Resend", type: :submit, class: :button %>
	  	</div>
	<% end %>

	<%= render "devise/shared/links" %>
	<%= link_to "Back", :back, class: :formLink %>
</div>
