<h1 class="mainHeading">Current Locations</h1>
    <hr class="faded" />

<div class="boxWrapper group">
    <%= link_to new_admin_location_path, class: [:box, :boxLink] do %>
        <h3 class="boxHeading">Add location</h3>
            <i class="boxIcon fa fa-5x fa-plus"></i>
                <p class="boxText">Add new location</p>
    <% end %>

    <%= link_to new_admin_location_path, class: [:box, :boxLink] do %>
        <h3 class="boxHeading">Edit location</h3>
            <i class="boxIcon fa fa-5x fa-wrench"></i>
                <p class="boxText">Amend location information</p>
    <% end %>

    <%= link_to new_admin_location_path, class: [:box, :boxLink] do %>
        <h3 class="boxHeading">Remove location</h3>
            <i class="boxIcon fa fa-5x fa-minus"></i>
                <p class="boxText">Delete location</p>
    <% end %>

</div>

<br>

<table>
        <tr>
            <th>Location ID</th>
            <th>Name</th>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th>Parish</th>
            <th>Postcode</th>
            <th>Capacity</th>
        </tr>
    <% @Locations.each do | location | %>
        <tr>
            <td><%= location.id %></td>
            <td><%= location.name %></td>
            <td><%= location.address_line_1 %></td>
            <td><%= location.address_line_2 %></td>
            <td><%= location.parish %></td>
            <td><%= location.post_code %></td>
            <td><%= location.capacity %></td>
        </tr>
    <% end %>
</table>




