<h1 class="mainHeading">Current Locations</h1>
    <hr class="faded" />

<div class="boxWrapper group">
    <%= link_to new_admin_location_path, class: [:box, :boxLink] do %>
        <h3 class="boxHeading">Add location</h3>
            <i class="boxIcon fa fa-5x fa-plus"></i>
                <p class="boxText">Add new location</p>
    <% end %>
</div>

    <p><% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %></p>

<%= link_to "Back", :back, class: [:button, :back] %>

<table class="table">
        <tr>
            <th class="tableHeading">ID</th>
            <th class="tableHeading">Name</th>
            <th class="tableHeading">Address 1</th>
            <th class="tableHeading">Address 2</th>
            <th class="tableHeading">Parish</th>
            <th class="tableHeading">Postcode</th>
            <th class="tableHeading">Capacity</th>

            <% if current_user.rank_id > 1 %> 
                <th class="tableHeading">Edit</th>
                <th class="tableHeading">Delete</th>
            <% end %>
        </tr>
    <% @Locations.each do | location | %>
        <tr>
            <td class="tableValue"><%= location.id %></td>
            <td class="tableValue"><%= link_to location.name, admin_location_path(location.id) %></td>
            <td class="tableValue"><%= location.address_line_1 %></td>
            <td class="tableValue"><%= location.address_line_2 %></td>
            <td class="tableValue"><%= location.parish %></td>
            <td class="tableValue"><%= location.post_code %></td>
            <td class="tableValue"><%= location.capacity %></td>

            <% if current_user.rank_id > 1 %>   
                <td class="tableValue">
                    <%= link_to edit_admin_location_path(location.id) do %>
                        <i class="tableIcon fa fa-2x fa-wrench"></i>
                    <% end %>  
                </td>
                <td class="tableValue">
                    <%= link_to admin_location_path(location.id), method: :delete, data: { confirm: "You sure?" } do %>
                        <i class="tableIcon fa fa-2x fa-trash"></i>
                    <% end %>
                </td>
            <% end %>

        </tr>
    <% end %>
</table>
