<h1 class="mainHeading"> <%= @locations.name %> Status</h1>
    <hr class="faded" />

<div class="boxWrapper group">
    <%= link_to admin_locations_authorise_path(params[:id]), class: [:box, :boxLink] do %>
        <h3 class="boxHeading">Authorise Key Storage</h3>
            <i class="boxIcon fa fa-5x fa-plus"></i>
                <p class="boxText">Authorise a pending key storage</p>
    <% end %>
    <%= link_to admin_locations_retrieval_authorise_path(params[:id]), class: [:box, :boxLink] do %>
        <h3 class="boxHeading">Authorise Key Retreival</h3>
            <i class="boxIcon fa fa-5x fa-minus"></i>
                <p class="boxText">Authorise a pending key retreival</p>
    <% end %>
</div>

	<p>
        <% flash.each do |flash_key, flash_value| %>
            <div class="alert">
                <%= flash_key %><%= flash_value %>
            </div>
	    <% end %>
	</p>

    <%= link_to "Back", :back, class: :formLink %><br />

<% if @storages.blank? %>
	<h3>There are no keys stored.</h3>

<% else %>

    <table class="table">
            <tr>
                <th class="tableHeading">
                    Key ID
                </th>
                <th class="tableHeading">
                    Storage Status
                </th>
                <th class="tableHeading">
                    Date
                </th>
            </tr>
        <% @storages.each do | storage | %>
            <tr>
                <td class="tableValue"> 
                    <%= storage.key_id %>
                </td>
                <td class="tableValue">
                    <% if storage.is_stored %> 
                        Stored
                    <% else %>
                        Awaiting key
                    <% end %> 
                </td>
                <td class="tableValue"> 
                    <%= storage.updated_at %> 
                </td>
            </tr>
        <% end %>
    </table>

<% end %>
