<h1 class="mainHeading">Edit <%= resource_name.to_s.humanize %></h1>
    <hr class="faded" />
    
<div class="formWrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= devise_error_messages! %>

        <div class="field">
            <%= f.label :email, class: :label %>
                <%= f.email_field :email, autofocus: true, class: :input %>
        </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>
                    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                </div>
            <% end %>

        <div class="field">
            <%= f.label :password, class: :label %><br />
                <i>(enter if changing)</i>
                    <%= f.password_field :password, autocomplete: "off", class: :input %>
        </div>

        <div class="field">
            <%= f.label :password_confirmation, class: :label %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: :input %>
        </div>

        <div class="field">
            <%= f.label :current_password, class: :label %><br />
                <i>(enter current password to confirm)</i>
                    <%= f.password_field :current_password, autocomplete: "off", class: :input %>
        </div>

        <div class="actions">
            <%= f.button "Update", type: :submit, class: :button %>
        </div>
        
    <% end %>

    <%= link_to "Back", :back, class: :formLink %>

</div>
