<h1 class="mainHeading">Authorise Key</h1>
    <hr class="faded" />

  <%= f.label "Authorisation Code" %>
  <%= f.text_field "authcode", autofocus: true, required: true, class: :input %>
  <%= f.submit "Submit", type: :submit, class: :button %>

        <div class="actions">
            <%= f.button "Submit", type: :submit, class: :button %>
        </div>
	<% end %>

    <%= link_to "Back", :back, class: :formLink %>
</div>
