<h1 class="mainHeading">Collection Authorisation</h1>
    <hr class="faded" />

<div class="formWrapper">
	<%= form_for admin_locations_retrieval_authorise_path do |f| %>

		<div class="field">
			<%= f.label "Authorisation Code" %>
				<%= f.text_field :authcode, autofocus: true, required: true, class: :input %>
		</div>

        <div class="actions">
	  		<%= f.submit "Submit", type: :submit, class: :button %>
        </div>
        
    <% end %>

    <%= link_to "Back", :back, class: :formLink %>

</div>
