<h1 class="mainHeading">Resend Unlock Instructions</h1>

<div class="formWrapper">
	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

	  	<div class="field">
	    	<%= f.label :email, class: "label" %><br />
	    	<%= f.email_field :email, autofocus: true, class: "input" %>
	  	</div>

	  	<div class="actions">
	    	<%= f.button "Resend", type: :submit, class: "button" %>
	  	</div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>