<h1 class="mainHeading">Key Storage</h1>
    <hr class="faded" />

<div class="formWrapper">
	<%= form_for @storage do |f| %>

		<div class="field">
			<%= f.label "Choose a key", class: :label %>
				<%= f.collection_select :key_id, @keys, :id, :name %>
		</div>

        <div class="actions">
			<%= f.button "Store Key", type: :submit, method: :patch, class: :button %>
		</div>

	<% end %>

	<%= link_to "Back", :back, class: :formLink %>

</div>
