<h1 class="mainHeading">Change location of key</h1>
    <hr class="faded" />

<div class="formWrapper">
    <%= form_for [:admin, @storage] do |f| %>
        
        <div class="field">
            <%= f.label "Choose a location", class: :label %>
                <%= f.collection_select(:location_id, Location.all, :id, :name, prompt: true) %>

        </div>

        <div class="actions">
            <%= f.button "Submit changes to key location", type: :submit, method: :patch, class: :button %>
        </div>

    <% end %>
    
    <%= link_to "Back", :back, class: :formLink %>
    
</div>
