<h1 class="mainHeading">Current Keys</h1>
    <hr class="faded" />

        <%= link_to "Back", :back, class: :formLink %>

<table class="table">
        <tr>
            <th class="tableHeading">Key ID</th>
            <th class="tableHeading">Key Name</th>
            <th class="tableHeading">User ID</th>
            <th class="tableHeading">Email</th>
            <th class="tableHeading">Change Location?</th>
        </tr>
    <% @Keys.each do | key | %>
        <tr>
            <td class="tableValue"><%= key.id %></td>
            <td class="tableValue"><%= key.name %></td>
            <td class="tableValue"><%= key.user_id %></td>
            <td class="tableValue"><%= key.user.email %></td>
            <td class="tableValue">
                <% if key.get_state == "Key is stored" %>
                    <%= link_to edit_admin_storage_path(key.id) do %>
                        <i class="tableIcon fa fa-2x fa-wrench"></i>
                    <% end %>
                <% end %>
            </td>            
        </tr>
    <% end %>
</table>
