<h1 class="mainHeading">Edit - <%= @user.email %></h1>
    <hr class="faded" />

<div class="formWrapper">

    <%= form_for [:admin, @user] do |f| %>

        <%= f.label :rank_id, class: :label %><br />
        <%= f.collection_select :rank_id, @Ranks, :id, :name %>
        <%= f.button "Submit changes to rank", type: :submit, method: :patch, class: :button %>

    <% end %>
    
    <%= link_to "Back", :back, class: :formLink %>
</div>
