<h1 class="mainHeading">Current Users</h1>
    <hr class="faded" />

        <%= link_to "Back", :back, class: :formLink %>

<table class="table">
        <tr>
            <th class="tableHeading">User ID</th>
            <th class="tableHeading">Email</th>
            <th class="tableHeading">Mobile Number</th>
            <th class="tableHeading">Rank</th>
        </tr>
    <% @Users.each do | user | %>
        <tr>
            <td class="tableValue"><%= user.id %></td>
            <td class="tableValue"><%= user.email %></td>
            <td class="tableValue"><%= user.mobile_number %></td>
            <td class="tableValue"><%= user.rank_id %></td>
        </tr>
    <% end %>
</table>
