<!DOCTYPE html>
<html>
	<head>
		<title>I Need My Key</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag %>
	</head>
<body>


	<div class="wrapper group">

		<div class="side">
			<%= link_to root_path do %>
				<div class="logo"></div>
			<% end %>
				
				<%= link_to "Home", root_path, :class => "navLink" %> 
				<%= link_to "Contact", contact_path, :class => "navLink" %> 
			<% if user_signed_in? %>
				<%= link_to "Account", account_path, :class => "navLink" %>
				<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "navLink" %>  
			<% else %>
				<%= link_to "Log In", new_user_session_path, :class => "navLink" %> 
				<%= link_to "Sign Up", new_user_registration_path, :class => "navLink" %>
			<% end %>		
		</div>


		<div class="contentWrapper">
			<%= yield %>
		</div>


	</div>

</body>
</html>