<!DOCTYPE html>
<html>
	<head>
		<title>I Need My Key</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
<body>


	<div class="wrapper group">

		<div class="side">
			<%= link_to root_path do %>
				<div class="logo"></div>
			<% end %>
				
			<div class="menu">
				<div class="menuIcon">
					<i class="fa fa-bars fa-3x"></i>
				</div>

					<%= link_to "Home", root_path, :class => "navLink", :onClick => "" %> 
					<%= link_to "Contact", contact_path, :class => "navLink", :onClick => "" %> 
				<% if user_signed_in? %>
					<%= link_to "Account", account_path, :class => "navLink", :onClick => "" %> 
					<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "navLink", :onClick => "" %> 
				<% else %>
					<%= link_to "Log In", new_user_session_path, :class => "navLink", :onClick => "" %> 
					<%= link_to "Sign Up", new_user_registration_path, :class => "navLink", :onClick => "" %> 
				<% end %>
			</div>		
		</div>


		<div class="contentWrapper">
			<%= yield %>
		</div>


	</div>

</body>
</html>